.box-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box {
  background: white;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}
h2{
  color: black;
}